* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Karla, sans-serif;
}
p {
  color: rgba(29, 31, 46, 0.7);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #878787;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

/* Class chung */
.container {
  width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex.nowrap {
  flex-wrap: nowrap;
}

/* Direction */
.flex.column {
  flex-direction: column;
}

/* Justify */
.flex.j-start {
  justify-content: flex-start;
}

.flex.j-end {
  justify-content: flex-end;
}

.flex.j-center {
  justify-content: center;
}

.flex.j-between {
  justify-content: space-between;
}

/* Align */
.flex.a-start {
  align-items: flex-start;
}

.flex.a-end {
  align-items: flex-end;
}

.flex.a-center {
  align-items: center;
}

.post-wrap {
  flex-basis: 25%;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 10px;
}

.post-image {
  flex-basis: 50%;
  padding-right: 10px;
}

.post-description {
  flex-basis: 50%;
}

.nav {
  width: 100%;
  height: 50px;
  background: hotpink;
  display: flex;
}
.nav img {
  margin-top: 10px;
  width: 150px;
}
.menu ul {
  margin-left: 100px;
  margin-top: 10px;
  display: flex;
}
.menu ul li {
  padding: 10px;
}
.banner {
  width: 100%;
  height: 600px;
  background: #050727;
  display: block;
}
.anh {
  text-align: center;
  height: 600px;
  background-image: url(image/2.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-color: #050727;
}
.anh p {
  color: white;
  position: static;
  display: block;
  opacity: 0.6;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.anh h1 {
  color: #fff;
  font-size: 50px;
  line-height: 60px;
}
.anh a {
  width: 300px;
  display: inline-block;
  background: white;
  margin: 30px;
}
.text {
  padding-top: 200px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: 300px;
}
.section {
  text-align: center;
  margin-top: 10px;
  width: 100%;
  background: #ffffff;
  height: 500px;
}
.content {
  padding: 100px;
  width: 700px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}
.content h2 {
  font-family: Karla, sans-serif;
  color: #1d1f2e;
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 28px;
  line-height: 40px;
  font-weight: 400;
}
.content a {
  background: #fff;
  box-shadow: 0px 5px #a25f4b;
}
.content label {
  position: static;
  display: block;
  opacity: 0.6;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: Karla, sans-serif;
  color: #1d1f2e;
}
.section2 {
  width: 100%;
  height: 650px;
  background: violet;
}
.box {
  width: 940px;
  height: 650px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
}
.box-1 {
  width: 49%;
  height: 550px;
  background: red;
}
.box-1-anh {
  width: 100%;
  height: 450px;
}
.box-1-anh img {
  width: 100%;
  height: 450px;
}
.box-1-nd {
  padding-top: 30px;
  text-align: center;
  width: 100%;
  height: 100px;
  background: yellow;
}
.box-1-nd a {
  margin-bottom: 5px;
  color: #1d1f2e;
}
.box-2 {
  margin-left: 20px;
  width: 49%;
  height: 550px;
  background: gray;
}
.text1 {
  text-align: center;
  width: 100%;
  height: 50px;
  background: red;
}
.text1 {
  position: static;
  display: block;
  opacity: 0.6;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.section3 {
  margin-top: 50px;
  width: 100%;
  height: auto;
  background: cornflowerblue;
}
.section3-box {
  margin-left: auto;
  margin-right: auto;
  width: 940px;
  height: auto;
  background: gray;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.sectioc3-box-1 {
  margin-top: 30px;
  width: 32%;
  height: 380px;
  border: 1px solid black;
}
.sectioc3-box-1-anh {
  width: 100%;
  height: 300px;
}
.sectioc3-box-1-nd {
  text-align: center;
  width: 100%;
  height: 80px;
}
.sectioc3-box-1-nd h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
}
.sectioc3-box-1-anh img {
  width: 100%;
  height: 300px;
}
.sectioc3-box-2 {
  margin-top: 30px;
  width: 32%;
  height: 380px;
  border: 1px solid black;
}
.sectioc3-box-3 {
  margin-top: 30px;
  width: 32%;
  height: 380px;
  border: 1px solid black;
}
.sectioc3-box-4 {
  margin-top: 30px;
  width: 32%;
  height: 380px;
  border: 1px solid black;
}
.sectioc3-box-5 {
  margin-top: 30px;
  width: 32%;
  height: 380px;
  border: 1px solid black;
}
.sectioc3-box-6 {
  margin-top: 30px;
  width: 32%;
  height: 380px;
  border: 1px solid black;
}
.sectioc3-box-7 {
  margin-top: 30px;
  width: 32%;
  height: 380px;
  border: 1px solid black;
}
.sectioc3-box-8 {
  margin-top: 30px;
  width: 32%;
  height: 380px;
  border: 1px solid black;
}
.sectioc3-box-9 {
  margin-top: 30px;
  width: 32%;
  height: 380px;
  border: 1px solid black;
}
.text2 {
  padding-top: 15px;
  text-align: center;
  margin-top: 50px;
  width: 100%;
  height: 50px;
  background: gray;
}
.section4 {
  margin-top: 50px;
  width: 100%;
  height: 1000px;
  background: #fff;
}
.noidung {
  margin-left: auto;
  margin-right: auto;
  width: 940px;
  height: 280px;
  background: #fff;
  display: flex;
}
.noidung-box1 {
  width: 30%;
  height: 280px;
}
.noidung-box1 img {
  height: 280px;
}
.noidung-box2 {
  margin-left: 20px;
  width: 25%;
  height: 280px;
}
.noidung-box2-1 {
  width: 100%;
  height: 130px;
}
.noidung-box2-1 img {
  width: 100%;
  height: 130px;
}

.noidung-box2-2 {
  margin-top: 20px;
  width: 100%;

  height: 130px;
}
.noidung-box2-2 img {
  width: 100%;
  height: 130px;
}

.noidung-box3 {
  padding: 20px;
  margin-left: 20px;
  width: 44%;
  height: 280px;
}
.noidung-box3 p {
  position: static;
  display: block;
  opacity: 0.6;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.noidung-box3 h2 {
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 25px;
  line-height: 50px;
}
.noidung-box3 a {
  height: 50px;
  text-align: center;
  width: 200px;
  margin-top: 20px;
  display: block;
  background: #383b4f;
  padding: 10px;
}
